{{#bs-form onSubmit=(action "submit") model=this as |form|}}
  {{#form.group}}
    <label class="control-label">Place</label>
    <div class="input-group">
      <input value={{place}} class="form-control" oninput={{action (mut place) value="target.value"}} type="text">
      <span class="input-group-btn">
        {{bs-button type="primary" onClick=(action "openTheModal") defaultText="Add New Place"}}
      </span>
    </div>
  {{/form.group}}
  {{form.element controlType="text" label="Place Name in Text" placeholder="Place Name as It Appears in the Text" property="text"}}
  <div class="row">
    <div class="col-6">
      {{form.element value=page controlType="number" label="Page" property="page"}}
    </div>
    <div class="col-6">
      {{form.element value=sequence controlType="number" label="Order on Page" property="sequence"}}
    </div>
  </div>
  {{form.element controlType="textarea" label="Note" property="note"}}
  {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
{{/bs-form}}

{{place-form open=modalOpen close=(action "modalClosed")}}
