<tr>
  <td>
    <a href="#" onclick="recenterMap(L.latLng({{place.lat}}, {{place.lon}}));">
      {{fa-icon "globe"}}
    </a>
  </td>
  <td>
    {{#if place.flagged}}
      {{fa-icon "flag"}}
    {{/if}}
  </td>
  <td>
    {{#if place.note}}
      {{fa-icon "comment"}}
    {{/if}}
  </td>
  <td class="confidence_class">
    <a href="/places/{{place.slug}}">
      {{place.name}}
    </a>
  </td>
  <td>
    {{place.instances}}
  </td>
</tr>


