<div class="card" style="width: 33rem">
  <h1 class="card-header">
    <em>{{model.title}}</em>
  </h1>
  {{#leaflet-map id="map" lat=0 lng=0 zoom=10 class="card-img-top" as |layers|}}
    {{layers.tile url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  {{/leaflet-map}}

  <div class="card-block">
    <div class="container">
      <div class="row">
        <div class="col-1">
          <b>Pg</b>
        </div>
        <div class="col-1">
          <b>Seq</b>
        </div>
        {{#if model.special}}
          <div class="col-6">
            <b>Name in Text</b>
          </div>
          <div class="col-4">
            <b>Special</b>
          </div>
        {{else}}
          <div class="col-10">
            <b>Name in Text</b>
          </div>
        {{/if}} 
      </div>

      {{#each model.instances as |instance|}}
        <div class="row">
          <div class="col-1">
            {{instance.page}}
          </div>
          <div class="col-1">
            {{instance.sequence}}
          </div>
          {{#if model.special}}
            <div class="col-6">
              {{instance.text}}
            </div>
            <div class="col-4">
              {{instance.special}}
            </div>
          {{else}}
            <div class="col-10">
              {{instance.text}}
            </div>
          {{/if}} 
        </div>
      {{/each}}
    </div> <!-- .container -->
{{outlet}}
  </div>
</div>
