<div class="card" style="width:35rem">
  <div class="card-header">
    Place
  </div>
  <div class="card-block">
    <h2 class="card-title">{{model.name}}</h2>
    <h3>{{model.instance_count}} instances</h3>
    <h3>{{model.lat}}, {{model.lon}}</h3>
    <p class="card-text">{{model.nickname_sentence}}</p>
  </div>
</div>

{{outlet}}
