<div class="card" style="width:35rem">
  <div class="card-header">
    Place
  </div>

  {{#if model.latLng}}
    {{#leaflet-map id="short-map" lat=model.lat lng=model.lon zoom=10 class="card-img-top" as |layers|}}
      {{layers.tile url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
      {{#layers.marker location=model.latLng as |marker|}}
        {{#marker.popup}}
          {{model.nickname_sentence}}
        {{/marker.popup}}
        {{/layers.marker}}
    {{/leaflet-map}}
  {{else}}
    {{#bs-alert type="warning" dismissible=false}}
      {{model.name}} has no coordinates associated with it.
    {{/bs-alert}}
  {{/if}}

  <div class="card-block">
    <h2 class="card-title">{{model.name}}</h2>
    <h3>{{model.instance_count}} instances</h3>
    {{#if model.latlng}}
      <h3>{{model.lat}}, {{model.lon}}</h3>
    {{/if}}
    <p class="card-text">{{model.nickname_sentence}}</p>
  </div>
</div>

{{outlet}}
